# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Django
*.sqlite3
/media/
/staticfiles/

# Environments
.env
.env.*
.venv/
env/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# OS
.DS_Store
